.container
	.row
		.col-lg-12
			h1 Community Access Program
			p FONHARE operates a Community Access Program that addresses exclusion, discrimination, and inequality of opportunities for all citizens.  We work with local business, government, and religious leaders to eliminate barriers by building ramps and making public areas accessible.  As a result of FONHARE’s initiatives, there are now ramps to the city park, church, hospital, and courthouse in Ouanaminthe. With encouragement from FONHARE, the local Catholic church also constructed a ramp so patrons could access their facility.  The Community Access Program and the Independent Living Program work hand in hand to improve the quality of life for the thousands of people affected by paralysis and other conditions requiring them to rely on wheelchairs.  These programs also increase the trust and visibility of FONHARE in the community, raise awareness regarding disability, and demonstrate our achievements in fighting for the rights of disabled people in Haitian society.  FONHARE has been instrumental in the tide of change that is sweeping Haiti.
			p The Community Access Program has plans to build several more concrete ramps in the city of Ouanaminthe for public use with a goal of making Ouanamithe the first publicly accessible city in Haiti.
