.container
	.row
		.col-md-12
			h1 Contact

	.row
		.col-sm-6
			.panel#haiti
				h2 Haiti
				p FONHARE
				p Cite Tibo
				p Ouanaminthe, Haiti (W.I.)
				p Telephone:  509-3228-1776, 509-2817-1776
				p Email:  ivensl.haiti@fonhare.org, fonhare.org@gmail.com 
		.col-sm-6
			.panel#usa
				h2 USA
				p FONHARE
				p c/o Cindy Cochran, PT, Volunteer Coordinator
				p 2441 Main St.
				p Torrington, WY 82240
				p Email:  volunteerscoordinator@fonhare.org 
