.container
	.row
		.col-lg-12
			h1 Gender Violence Program
			p The Gender Violence Program is an ongoing program in FONHARE with opportunities scheduled throughout the year to interact with the public on matters of this concern.  We advocate against violence to women, children, and people with disabilities in general. To do so, we conduct seminars with this targeted population discussing their rights and where they can find help if they are victims. We provide legal orientation and psychosocial assistance to them.  
