.container.page-pad
	.row
		.col-lg-12
			h1 Mission
			p To provide the most effective physical and cognitive rehabilitation services for the full care of children, youth, ad adults with physical and/or mental disabilities regardless of their economic capacity.
			h1 Vision
			p To facilitate the habilitation or rehabilitation, integration or reintegration, participation and inclusion of all children, youth, and adults with physical and/or mental disabilities to live to their full potential during their complete psychomotor development and throughout their life in accordance with their rights of human dignity.
			p To be the leading institution with national coverage of comprehensive rehabilitation services throughout Haiti and beyond.
