.container
	.row
		.col-md-12
			h1 Sponsor a Therapist
			p FONHARE is establishing a “Therapist Sponsorship” program. For just $10 a month, you can help sponsor the salary of a Haitian physical, occupational, or speech therapist to work at FONHARE. That’s just $5 per two-week pay period! Think of it—you can help provide a living wage for a therapist and enable them to work in their own country for the price of two cups of coffee!
			p These donations are tax deductible and will be pooled together with other sponsorships to provide salaries for therapists who work in our clinics. Let us know if you’re interested by emailing our volunteer coordinator at:   volunteerscoordinator@fonhare.org
			p.lead “Your contribution can make a big difference improving the lives of disabled people in Haiti and creating job opportunities for Haitian therapists in their own country”.
