.container
	.row
		.col-md-12
			h1 Volunteer
			p FONHARE recruits medical and non-medical volunteers to join our team and work on our projects.  All of these people bring professional abilities, practical experience, and a commitment and appreciation for the people they help.
			p Regarding the needs for rehab services in Haiti and the lack of rehab professionals, we cannot achieve our goals alone. Therefore, in order to meet our needs we are seeking volunteer support to help us accomplish our goal of transferring technical and medical knowledge, expertise and services to Haitians in order to enable them to help themselves manage and run programs in Physical Medicine and Rehabilitation.

			h4 For Rehab Volunteers we welcome applications from dedicated health care professionals, including:

			ul
				li PM&R & other physicians with experience in complex rehabilitation care, teaching and training
				li Physical Therapists
				li Occupational Therapists
				li Speech Language Pathologists
				li Certified Orthotists, Prosthetists & Technicians
				li Special Education

			h4 For Non-Rehab Volunteers we welcome application forms in the following areas, including:

			ul
				li Human Resources
				li Project Management
				li Fundraising
				li Marketing
				li Programming
				li Construction
				li Accounting/Consulting

			p.lead
				a(href="#") Please click on the following link and fill out our application.  We will be in touch.  Thank you!
			p
				a(style='background-color: #128fbd  ; color:#fff; text-decoration: none; padding: 6px; padding-right: 10px;padding-left: 10px; border-radius: 5px', target='_blank', href='http://www.givingway.com/organization/foundation-for-haitian-rehabilitation/?context=apply') Apply to Volunteer
