footer#main-footer
	.container-fluid
		.row
			.col-sm-4
				h3.text-center Row 1
			.col-sm-4
				h3.text-center Row 2
			.col-sm-4
				h3.text-center Row 3
#footer-credits
	.container-fluid
		.row
			.col-lg-12
				p.text-center Made with &hearts; by 
					a(href="http://pocholabs.com", target="_blank") PochoLabs.


script(src="src/js/jquery.min.js")

script(src="src/js/bootstrap.js")
script(src="src/js/bootstrap-sprockets.js")


script(src="src/js/jquery.slim.js")
script(src="src/js/navigation.js")
script(src="src/js/owl.carousel.js")
script(src="src/js/skip-link-focus-fix.js")

script(src="src/js/main.js")
