nav.navbar.navbar-inverse.navbar-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.serving(href="/fonhare-wireframe/") FONHARE
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right.home-nav
				li
					a.serving(href="/fonhare-wireframe/") Home
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown")
						| About
						span.caret
						ul.dropdown-menu(role="menu")
							li
								a.serving(href="/fonhare-wireframe/staff") Staff
							li
								a.serving(href="/fonhare-wireframe/financial") Financial Information
							li
								a.serving(href="/fonhare-wireframe/partners") Partners
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true')
						| Programs
						span.caret
						ul.dropdown-menu
							li
								a.serving(href="/fonhare-wireframe/sponsor-a-therapist") Sponsor a Therapist
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown")
						| Contact
						span.caret
						ul.dropdown-menu
							li
								a.serving(href="/fonhare-wireframe/headquarters") Headquarters
							li
								a.serving(href="/fonhare-wireframe/haiti") Haiti
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") 
						| Get Involved
						span.caret
						ul.dropdown-menu(role="menu")
							li
								a.serving(href="/fonhare-wireframe/sponsor-a-therapist") Sponsor a Therapist
							li
								a.serving(href="/fonhare-wireframe/volunteer") Volunteer
				li
					a.btn.btn-success.serving(href="/fonhare-wireframe/donate", style="color:#fff;") Donate
